// You can freely create SCSS files within this Custom directory
// and they will be imported into the end of the theme's output CSS.
// The directory is loaded to increase abstraction and reduce the amount of
// changes to be made to the Oscailte theme itself.

// THESE FILES AREA LOADED ALPHABETICALLY

.article, .sidebar, .page {
    background: white;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

#disqus {
    background: white;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

#post_ad {
    background: white;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 62em) {
  .article--single .article__title::before {
    margin-left: 0em;
  }
}

.divider{
    margin: 0.5em 0;
}
.article__meta {
    padding: 0.1rem 0;
}
